#popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

#popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#popup-title {
    font-size: 1.25rem;
    font-weight: bold;
}

#game-space {
    display: block;
    
}
.game-row {
    height: 50px;
    width: 150px;
    border: 1.5px solid red;
    display: flex;
    flex-direction: row;
}

.game-cell {
    height: 50px;
    width: 50px;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.X {
    color: red;
}