#game-space {
    display: block;
    
}
.game-row {
    height: 50px;
    width: 150px;
    border: 1.5px solid red;
    display: flex;
    flex-direction: row;
}

.game-cell {
    height: 50px;
    width: 50px;
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.X {
    color: red;
}